@using ydRSoft.Modelo
@model UsuarioModel

@{
    ViewBag.Title = "Configuracion";

    UsuarioModel objUser = Model == null ? new UsuarioModel() : Model;
}

<input id="editId" class="form-control text-navy" value="@objUser.Id" />

<div id="resulVista"></div>


<script>

    async function funVerUsuario(entrada) {
        console.log("entro usuario");
        var dataString = new FormData();
        dataString.append("IdUser", document.getElementById('editId').value);
        const response = await fetch('/AUsuario/Usuario/LoadUsuario', {
            method: 'POST',
            body: dataString,
        });

        if (response.ok) {
            const data = await response.text();
            $("#resulVista").html(data);
        } else {
            alert('Error en la respuesta: ' + response.status, response.statusText);
        }
    }

    async function funVerPreferencias(entrada) {
        console.log("entro preferencias");
        var dataString = new FormData();
        dataString.append("IdUser", document.getElementById('editId').value);

        const response = await fetch('/APreferencia/Preferencia/LoadPref', {
            method: 'POST',
            body: dataString,
        });

        if (response.ok) {
            const data = await response.text();
            $("#resulVista").html(data);
        } else {
            alert('Error en la respuesta: ' + response.status, response.statusText);
        }
    }


    async function funVerAlergias(entrada) {
        console.log("entro preferencias");
        var dataString = new FormData();
        dataString.append("IdUser", document.getElementById('editId').value);

        const response = await fetch('/APreferencia/Preferencia/LoadAlergia', {
            method: 'POST',
            body: dataString,
        });

        if (response.ok) {
            const data = await response.text();
            $("#resulVista").html(data);
        } else {
            alert('Error en la respuesta: ' + response.status, response.statusText);
        }
    }

    async function funVerProductos(entrada) {
        console.log("entro preferencias");

        const response = await fetch('/APreferencia/Preferencia/LoadProducto', {
            method: 'POST',
        });

        if (response.ok) {
            const data = await response.text();
            $("#resulVista").html(data);
        } else {
            alert('Error en la respuesta: ' + response.status, response.statusText);
        }
    }

</script>

