<style>
    .circular-button7c {
        width: 30px;
        height: 30px;
        border: 2px solid rgb(64, 150, 84);
        border-radius: 50%;
        background-color: transparent;
        color: rgb(64, 150, 84);
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
</style>

<div class="floatingBotones">
    <div hidden>
        <button class="btn btn-circle btn-success" onclick="funFavoritos()"><i class="fa fa-car"></i></button>
        <hr />
    </div>
    <div id="tiempoEjec"> 0s </div>
    <button class="circular-button7c" id="btnComandos" onclick="funComandos()">1</button>
    <button class="btn btn-circle btn-success" id="startCapture" onclick="IniciarCaptura()">2</button>
    <button class="circular-button7c" id="btnReceta" onclick="funRecetas()">3</button>
    <button class="circular-button7c" id="btnMenu" onclick="funMenu()">4</button>
    <button class="circular-button7c" id="btnFavoritos" onclick="funFavoritos()">5</button>
    <button class="circular-button7c" id="btncategoria" onclick="funCategoria()">6</button>
    <button class="circular-button7c" id="btnBotones" onclick="funBotones()">7</button>
    <button class="circular-button7c" id="btnConfiguracion" onclick="funConfiguracion()">8</button>
    <button class="circular-button7c" id="btnSalir" onclick="funSalir()">9</button>
    <button class="circular-button7c" id="btnReiniciar" onclick="funReiniciar()" hidden>9</button>
    <button class="circular-button7c" id="btnPantalla" onclick="funPantalla()" hidden>11</button>
</div>

<script>
    function funComandos() {
        funModales('modalComandos');
    }

    function funMenu() {
        if (esVisible('vistaMenu')) {

            setOcultar('vistaMenu', true);
        } else {
            setOcultar('vistaMenu', false);
        }
    }

    function funFavoritos() {
        console.log("ver favoritos XD");
        funVerFavorito();
    }

    function funCategoria() {
        funModales('modalCategoria');
    }

    function funConfiguracion() {
        console.log("configuracion");
        let iduser = document.getElementById("IdInydRc").value;
        if (iduser > 1) {
            window.location.href = "@Url.Action("Index","Configuracion",new {Area = "AConfiguracion"})";
        } else {
            console.log("No puede ingresar");
            hablarTexto("Tiene que iniciar sesion para ingresar a Configuracion");
        }


    }

    function funBotones() {
        if (esVisible('vistaBtones')) {
            setOcultar('vistaBtones', true);
        } else {
            setOcultar('vistaBtones', false);
        }
    }

    function funReiniciar() {
        location.reload();
    }

    function funSalir() {
        cerrarSesion();
    }

</script>

<script>
    function funPantalla() {
        if (!document.fullscreenElement) {
            document.documentElement.requestFullscreen().catch(err => {
                console.error(`Error al intentar habilitar pantalla completa: ${err.message}`);
            });
        } else {
            document.exitFullscreen();
        }
    }

</script>



<script id="_favoritos_">
    function funVerFavorito() {
        console.log("ingreso ver favoritos x2");
        let iduser = document.getElementById("IdInydRc").value;
        if (iduser > 1) {
            console.log("entro aqui");
            mostrarFavoritos(iduser);            
        } else {
            console.log("No puede agregar");
            hablarTexto("Tiene que iniciar sesion para ver favoritos");
        }
    }

    async function mostrarFavoritos(idu) {
        console.log("mostrar favoritos x6");

        $("#viewPaginas").html("");
        
        var dataString = new FormData();
        dataString.append("IdUser", idu);
        setOcultar("idLoad1", false);
        document.getElementById("idLoad1").innerHTML = "<i class='fa fa-spinner'> Cargando Recetas ...</i>";

        const response = await fetch('/AReceta/Receta/VerFavoritos', {
            method: 'POST',
            body: dataString
        });
        if (response.ok) {
            const data = await response.text();
            $("#viewPaginas").html(data);
            console.log("exito ver fav");
        }

        setOcultar("idLoad1", true);
    }

</script>