


<div class="contenido-ydR">
    <div class="parte-superior">
        <strong class="text-center">MENU PRODUCTOS</strong>
    </div>
    <div class="parte-inferior">        
        <div class="texto-Ingredientes">
            <div id="vistaProd"></div>
        </div>
    </div>
</div>