@using ydRSoft.Modelo

@model RecetaModel

@{
    var receta = new RecetaModel();

    if (Model != null)
    {
        receta = Model;
    }
    int npaso = 1;
}

<style>

    :root {
        font-family: 'Franklin Gothic Medium','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        --fuente-principal: 'Franklin Gothic Medium';
    }

    .floatingAbajoIzq {
        width: 450px;
        background-color: rgb(149,244,178);
        position: fixed;
        bottom: 50px;
        left: 10px;
        padding: 10px;
        border-radius: 5px;
        z-index: 9999;
        font-size: 24px;
        font-family: var(--fuente-principal);
    }

    .color-dorado {
        color: rgb(244,209,90);
        align-items: center;
        padding: 0 0 0 10px;
        border-radius: 5px;
        text-align: left;
        font-size: 24px;
        font-family: var(--fuente-principal);
    }

    .color-ingredientes {
        color: white;
        align-items: center;
        padding: 0 10px 0 10px;
        font-size: 18px;
        font-family: Arial;
    }

    .contenido-ydR {
        width: 100%;
        position: relative;
        overflow: hidden;
        margin: 10px 0 0 10px;
    }


    .parte-superior {
        background-color: rgb(149,244,178);
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: bold;
        box-sizing: border-box;
        padding: 10px 10px 10px 10px;
        font-size: 24px;
        font-family: var(--fuente-principal);
    }

    .parte-inferior {
        background-color: rgb(108, 108, 108);
        height: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        box-sizing: border-box;
        padding: 5px 0 10px 0;
    }

    .floatingbtn {
        position: fixed;
        bottom: 15px;
        left: 460px;
        padding: 20px;
        border-radius: 5px;
        z-index: 9999;
        font-size: 20px;
        color: white;
        font-weight: bold;
        font-family: 'Lucida Console';
    }

    .text-VerdeF {
        color: rgb(149,244,178);
        font-size: 20px;
    }
    .texto-icon-VerdeF {
        color: rgb(149,244,178);
        font-size: 14px;
    }
</style>

@if (receta.Id > 0)
{

    <div class="contenido-ydR">
        <div class="parte-superior">
            <strong class="text-center">@receta.Nombre</strong>
        </div>
        <div class="parte-inferior">
            <div class="color-dorado">
                <strong> <i class="fa fa-bars text-VerdeF"></i> INGREDIENTES </strong>
            </div>
            <div class="color-ingredientes">                
                    @foreach (var item in receta.Ingredientes)
                    {
                       <i class="fa fa-check-square-o texto-icon-VerdeF"> &nbsp;</i>   @item <br />
                    }                
            </div>
            <div class="color-dorado">
                <strong> <i class="fa fa-clock-o text-VerdeF"></i> PREPARACION @receta.Tiempo min </strong>
            </div>
            <div class="color-ingredientes">
                @foreach (var item in receta.PasosPreparacion)
                {
                    <strong style="color: rgb(149,244,178)"> <i class="fa fa-hand-o-right texto-icon-VerdeF"></i> Paso @(npaso++): </strong> @item <br />
                }
            </div>            
        </div>
    </div>

    <div class="floatingAbajoIzq" style="left:10px">
        <span style="font-size:18px">Receta Sugerida <i class="fa fa-hand-o-right"></i></span>
        <div style="font-size:24px">@receta.Nombre</div>
    </div>
    <div class="floatingbtn">
        <p>
            <a class="btn btn-primary btn-circle btn-lg btn-outline active" style="font-size:28px;">1</a>
            <a class="btn btn-primary btn-circle btn-lg btn-outline" style="font-size:28px;">2</a>
            <a class="btn btn-primary btn-circle btn-lg btn-outline" style="font-size:28px;">3</a>
            <a class="btn btn-primary btn-circle btn-lg btn-outline" style="font-size:28px;">4</a>
        </p>
    </div>
}


